.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #0e1a3a;

  &__header {
    padding: 0.5rem; /* 8px */
    background-color: #bbcccc;
  }

  &__text {
    height: 2rem; /* 32px */
    border-radius: 0.5rem; /* 8px */
    border: 1px solid #9fa8be;
    margin-left: 0.4rem;
  }

  &__body {
    background-color: #333;
    padding: 1rem; /* 16px */
  }

  &__head {
    background-color:hsl(180, 13%, 92%);
    text-align: left;
  }


  &__scroller {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-padding-inline-start: 1.25rem;

    // Agrega un margen superior para bajar la barra de desplazamiento
    margin-top: 10px; // Ajusta este valor según lo necesites

    &::-webkit-scrollbar {
      height: 0.5rem; 
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888; 
      border-radius: 0.625rem; 
    }

    &::-webkit-scrollbar-track {
      background: #ffffff; 
      border-radius: 0.625rem; 
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
  }


  &__cell {
    font-size: 0.75rem;
    border-bottom: 0.125rem solid hsl(180, 13%, 92%);
    padding: 0.5rem;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    display: flex;
    align-items: center; // Asegura que los elementos dentro se alineen verticalmente
    justify-content: center; // Centra horizontalmente el contenido
    margin-left: 0.5rem; // Ajusta este valor según lo necesites para moverlo a la derecha
  }

   &__icon {
    width: 1rem; 
    vertical-align: middle;
  }
}

