.container__select {
  display: flex; // Usar flexbox para alinear los elementos
  justify-content: space-between; // Espacio entre los elementos
  align-items: center; // Alinear verticalmente al centro
}